.btn-blank {
  color: white;
  border-style: solid;
  border-color: white;
  padding: 8px 16px;
  border-radius: 32px;
}

.btn-blank:hover {
  color: rgb(214, 213, 213);
  border-color: rgb(214, 213, 213);
}